<h1 class="heading-large">
  Sign in to your account
</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label :email, class: 'form-label' %>
    <%= f.email_field :email, autofocus: true, type: "text", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Sign in", class: "button" %>
  </div>
  <% end %>

  <div class="form-group">
    <%= render "devise/shared/links" %>
  </div>

<%= link_to 'Back', root_path, class: "link-back" %>
